{% extends "base_member.html" %}

{% block content %}
        {% if result %}
        <p style="text-align: center"><strong>{{ result }}</strong>
      {% endif %}

    <div style="width: 50%; margin-top: 200px; margin-right: auto; margin-left: auto">
        <table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Nr zespołu</th>
        <th scope="col">Członkowie</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
         {% for team_id in teams.keys() %}
        <tr>
           <td>{{ team_id }}</td>
           <td>
               {% for member in teams[team_id] %}
                   {{ member.fullName }}<br>
               {% endfor %}
           </td>
           <td>
               <form action="/teamDetails" method="post">
                    <label for="id"></label>
                    <input hidden name="id" id="id" value="{{ team_id }}">

                    <input type="submit" value="Szczegóły">
               </form>
           </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
    </div>



{% endblock %}