@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  --bg-primary: #0B0C10;
  --bg-secondary: #1F2833;
  --outline-dark-blue: #45A29E;
  --font-primary: #C5C6C7;
  --font-secondary: #66FCF1;
  --font-third: #5dece3;
  color: var(--font-primary);
  background-color: var(--bg-primary);
  --transition: 200ms
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

button {
  background-color: var(--bg-primary);
  border-radius: 0.4em;
  border: 1px solid var(--outline-dark-blue);
  display: inline-block;
  cursor: pointer;
  color: var(--font-primary);
  font-family: Arial;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0.1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button:hover {
  background-color: var(--bg-secondary);
  transition-duration: var(--transition);
}

button:active {
  position: relative;
  top: 1px;
}

strong {
  color: var(--font-third);
}