.oceny-list {
    list-style: none;
}

.oceny-list>li {
    margin: 0 auto;
}

.ocena {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-gray);
    border-radius: 0.5rem;
    width: fit-content;
    border: 2px solid var(--bg-secondary);
}

.ocena__details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
    justify-content: center;
    line-height: 1.5rem;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.ocena__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}